<nav class="navbar bg-body-tertiary border-bottom border-1 mb-2">
    <div class="container-fluid text-center">
        <a class="navbar-brand mx-auto" href="#">Lección 1 - Analítica de Datos en Educación</a>
    </div>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-12 col-lg-3">
           <app-menu [menuItems]="_menuItems"></app-menu>
        </div>
        <div class="col-12 col-lg-9 border border-1 p-3">
            <router-outlet></router-outlet>

        </div>

    </div>
    <div class="p-3 text-center container-fluid">
        <a (click)="goPrevious()" class="btn btn-primary me-2" [class.disabled]="!_prevAvailable">Anterior</a>
        <a (click)="goNext()" class="btn btn-success" [class.disabled]="!_nextAvailable">Siguiente</a>

    </div>
</div>